<pgcard TimeOut="3000" AdditionalClasses="widget-11 card no-border  no-margin widget-loader-bar full-height" ProgressType="bar" Maximize="false" Toggle="false" Close="false" BodyClass="no-padding">
	<div class="padding-25">
		<!--
		<ng-template #CardTitle>
			<span class="font-montserrat fs-11 all-caps">
				Today's Table
			</span>
		</ng-template>
		-->
	<div class="p-l-25 p-r-25 p-b-20">
		<div class="pull-left">
			<h2 class="text-success no-margin">Routes</h2>
		</div>
		<!--
		<h3 class="pull-right semi-bold"><sup>
			<small class="semi-bold">$</small>
		</sup> 102,967
		</h3>
		-->
		<div class="clearfix"></div>
	</div>
	<div class="widget-11-table auto-overflow">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Gateway</th>
					<th>INTF Desc</th>
					<th>Proto</th>
					<th>Destination</th>
					<th>Flags</th>
					<th>Use</th>
					<th>MTU</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let route of routes; let i = index">
					<td class="font-montserrat fs-12 w-50">{{route.gateway}}</td>
					<td class="font-montserrat fs-12 w-50">{{route.intf_description}}</td>
					<td class="font-montserrat fs-12 w-50">{{route.proto}}</td>
					<td class="font-montserrat fs-12 w-50">{{route.destination}}</td>
					<td class="font-montserrat fs-12 w-50">{{route.flags}}</td>
					<td class="font-montserrat fs-12 w-50">{{route.use}}</td>
					<td class="font-montserrat fs-12 w-50">{{route.mtu}}</td>
				</tr>
				<!--
			<tr>
				<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
				<td class="text-right">
					<span class="hint-text small">dewdrops</span>
				</td>
				<td class="text-right b-r b-dashed b-grey">
					<span class="hint-text small">Qty 1</span>
				</td>
				<td>
					<span class="font-montserrat fs-18">$27</span>
				</td>
			</tr>
			<tr>
				<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
				<td class="text-right">
					<span class="hint-text small">johnsmith</span>
				</td>
				<td class="text-right b-r b-dashed b-grey">
					<span class="hint-text small">Qty 1</span>
				</td>
				<td>
					<span class="font-montserrat fs-18 text-primary">$1000</span>
				</td>
			</tr>
			<tr>
				<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
				<td class="text-right">
					<span class="hint-text small">janedrooler</span>
				</td>
				<td class="text-right b-r b-dashed b-grey">
					<span class="hint-text small">Qty 1</span>
				</td>
				<td>
					<span class="font-montserrat fs-18">$27</span>
				</td>
			</tr>
			<tr>
				<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
				<td class="text-right">
					<span class="hint-text small">johnsmith</span>
				</td>
				<td class="text-right b-r b-dashed b-grey">
					<span class="hint-text small">Qty 1</span>
				</td>
				<td>
					<span class="font-montserrat fs-18 text-primary">$1000</span>
				</td>
			</tr>
			<tr>
				<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
				<td class="text-right">
					<span class="hint-text small">dewdrops</span>
				</td>
				<td class="text-right b-r b-dashed b-grey">
					<span class="hint-text small">Qty 1</span>
				</td>
				<td>
					<span class="font-montserrat fs-18">$27</span>
				</td>
			</tr>
			<tr>
				<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
				<td class="text-right">
					<span class="hint-text small">johnsmith</span>
				</td>
				<td class="text-right b-r b-dashed b-grey">
					<span class="hint-text small">Qty 1</span>
				</td>
				<td>
					<span class="font-montserrat fs-18 text-primary">$1000</span>
				</td>
			</tr>
			<tr>
				<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
				<td class="text-right">
					<span class="hint-text small">dewdrops</span>
				</td>
				<td class="text-right b-r b-dashed b-grey">
					<span class="hint-text small">Qty 1</span>
				</td>
				<td>
					<span class="font-montserrat fs-18">$27</span>
				</td>
			</tr>
			<tr>
				<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
				<td class="text-right">
					<span class="hint-text small">johnsmith</span>
				</td>
				<td class="text-right b-r b-dashed b-grey">
					<span class="hint-text small">Qty 1</span>
				</td>
				<td>
					<span class="font-montserrat fs-18 text-primary">$1000</span>
				</td>
			</tr>
			<tr>
				<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
				<td class="text-right">
					<span class="hint-text small">dewdrops</span>
				</td>
				<td class="text-right b-r b-dashed b-grey">
					<span class="hint-text small">Qty 1</span>
				</td>
				<td>
					<span class="font-montserrat fs-18">$27</span>
				</td>
			</tr>
			<tr>
				<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
				<td class="text-right">
					<span class="hint-text small">johnsmith</span>
				</td>
				<td class="text-right b-r b-dashed b-grey">
					<span class="hint-text small">Qty 1</span>
				</td>
				<td>
					<span class="font-montserrat fs-18 text-primary">$1000</span>
				</td>
			</tr>
				-->
			</tbody>
		</table>
	</div>
	</div>
</pgcard>
