	<div class="widget-11-table auto-overflow" [hidden]="editingInterface || addingInterface">
		<div class="pull-left">
			<button class="btn btn-success">New Interface</button>
	    	</div>
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Enabled</th>
					<th>Interface</th>
					<th>IP</th>
					<th>IPv6</th>
					<th>Subnet</th>
					<th>Desc</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let itf of interfaces; let ifname = index">
					<td class="font-montserrat fs-12 w-50">{{itf.interface_type}}</td>
					<td class="font-montserrat fs-12 w-50">{{itf.enable}}</td>
					<td class="font-montserrat fs-12 w-50">{{itf.if}}</td>
					<td class="font-montserrat fs-12 w-50">{{itf.ipaddr}}</td>
					<td class="font-montserrat fs-12 w-50">{{itf.ipaddrv6}}</td>
					<td class="font-montserrat fs-12 w-50">{{itf.subnet}}</td>
					<td class="font-montserrat fs-12 w-50">{{itf.descr}}</td>
					<td class="font-montserrat fs-12 w-50">
						<button class="btn btn-success" (click)="enableEditingInterface(itf)">Edit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
