      <div class="card card-transparent">
        <div class="card-body">
	  <div class="widget-11-table auto-overflow" [hidden]="editingItem || addingItem">
		<div class="pull-left">
			<button class="btn btn-success" (click)="enableAddingItem()">Add</button>
	    	</div>
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Interface</th>
					<th>Protocol</th>
					<th>Priority</th>
					<th>Gateway</th>
					<th>Monitor IP</th>
					<th>RTT</th>
					<th>RTTd</th>
					<th>Loss</th>
					<th>Status</th>
					<th>Description</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of items; let i = index">
					<td class="font-montserrat fs-12 w-50">{{item.name}}</td>
					<td class="font-montserrat fs-12 w-50">{{item.interface}}</td>
					<td class="font-montserrat fs-12 w-50">{{item.ipprotocol}}</td>
					<td class="font-montserrat fs-12 w-50">{{item.priority}}</td>
					<td class="font-montserrat fs-12 w-50">{{item.gateway}}</td>
					<td class="font-montserrat fs-12 w-50">{{item.monitor}}</td>
					<td class="font-montserrat fs-12 w-50">{{item.rtt}}</td>
					<td class="font-montserrat fs-12 w-50">{{item.rttd}}</td>
					<td class="font-montserrat fs-12 w-50">{{item.loss}}</td>
					<td class="font-montserrat fs-12 w-50">{{item.online}}</td>
					<td class="font-montserrat fs-12 w-50">{{item.descr}}</td>
					<td class="font-montserrat fs-12 w-50">
						<button class="btn btn-success" (click)="enableEditingItem(i)">Edit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
      </div>
